TG_BOT_TOKEN=put-your-token-here
CHANNEL_ID=-1003426962243
ID_FOR_AUTO_IN_PATH=-1001234567890
ADMIN_TG_ID=7079975091,7875342185
ADMIN_STATS_STICKER_ID=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/kabaevbot
INTERVAL_MINUTES_FOR_SEND_DB=30
